ALTER TABLE dc_orders ADD COLUMN IF NOT EXISTS order_num TEXT UNIQUE; ALTER TABLE dc_orders ADD COLUMN IF NOT EXISTS project TEXT; ALTER TABLE dc_orders ADD COLUMN IF NOT EXISTS contact TEXT; ALTER TABLE dc_orders ADD COLUMN IF NOT EXISTS eta TEXT; ALTER TABLE dc_orders ADD COLUMN IF NOT EXISTS total_price NUMERIC; ALTER TABLE dc_orders RENAME COLUMN username TO user_name;
